fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose
passlib[bcrypt]
python-multipart
pydantic
fastapi
uvicorn
sqlalchemy
jinja2
python-dotenv
google-genai
networkx
pandas
numpy
scikit-learn
joblib
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
itsdangerous
requests
pydantic